@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Bootstrapping */
:root {
    --tcg_dark: #2d3142;
    --tcg_grey: #525778;
    --tcg_white: #fbf9ff;
    --tcg_cyan: #85ffc7;
    --tcg_blue: #3772ff;
    --tcg_light_blue: #42cafd;
    --tcg_green: #6fd08c;
    --tcg_purple: #8855ff;
    --tcg_pink: #ef27a6;
    --tcg_red: #db3069;
    --tcg_radish: #de4d86;
    --tcg_crimson: #ff220c;
}

@layer base {
    /* https://css-tricks.com/custom-tailwind-css/ */
    html {
        -webkit-tap-highlight-color: transparent;
        @apply text-tcg_dark
    }

    body {
        @apply bg-tcg_dark
    }

    a {
        @apply transition ease-in-out font-bold text-tcg_blue hover:text-tcg_pink
    }

    a::after {
        /* link icon */
    }

    #content a {
        @apply border-b-2 border-tcg_blue hover:border-tcg_pink
    }

    p {
        @apply ml-2 my-2
    }

    ol, ul {
        @apply list-disc ml-8 my-2
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-2xl text-tcg_light_blue
    }

    h2 {
        @apply text-xl text-tcg_green
    }

    h3 {
        @apply text-lg text-tcg_purple
    }

    h4 {
        @apply text-sm text-tcg_crimson
    }

    h6 {
        @apply text-xs
    }

    hr {
        @apply mr-72 mt-4 mb-8 text-tcg_pink border-dashed border
    }

    .hr-even {
        @apply mx-72
    }
}

/* Text */

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Regular-102.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Bold-102.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Italic-102.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf");
    font-weight: bold;
    font-style: italic;
}

/* Colours */
.tcg-bg-gradient {
    /*background: -moz-linear-gradient(-45deg, var(--tcg_crimson), var(--tcg_radish), var(--tcg_purple), var(--tcg_blue), var(--tcg_light_blue), var(--tcg_green), var(--tcg_cyan));*/
    /*background: -webkit-linear-gradient(-45deg, var(--tcg_crimson), var(--tcg_radish), var(--tcg_purple), var(--tcg_blue), var(--tcg_light_blue), var(--tcg_green), var(--tcg_cyan));*/
    /*background: linear-gradient(-45deg, var(--tcg_crimson), var(--tcg_radish), var(--tcg_purple), var(--tcg_blue), var(--tcg_light_blue), var(--tcg_green), var(--tcg_cyan));*/
    background: -moz-linear-gradient(45deg, var(--tcg_cyan), var(--tcg_green), var(--tcg_light_blue), var(--tcg_blue), var(--tcg_purple), var(--tcg_pink));
    background: -webkit-linear-gradient(45deg, var(--tcg_cyan), var(--tcg_green), var(--tcg_light_blue), var(--tcg_blue), var(--tcg_purple), var(--tcg_pink));
    background: linear-gradient(45deg, var(--tcg_cyan), var(--tcg_green), var(--tcg_light_blue), var(--tcg_blue), var(--tcg_purple), var(--tcg_pink));
    -webkit-animation: moveGradient 15s ease infinite;
    -moz-animation: moveGradient 15s ease infinite;
    animation: moveGradient 15s ease infinite;
    transition: background-color 0.4s;
}

.tcg-text-light_blue-green {
    background: -webkit-linear-gradient(-45deg, var(--tcg_light_blue), var(--tcg_cyan), var(--tcg_green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animations */
.tcg-bg-gradient {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    -webkit-animation: moveGradient 20s ease infinite;
    -moz-animation: moveGradient 20s ease infinite;
    animation: moveGradient 20s ease infinite;
    transition: background-color 0.4s;
}

@-webkit-keyframes moveGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes moveGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
