@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Bootstrapping */
:root {
    --tcg_dark: #2d3142;
    --tcg_grey: #525778;
    --tcg_white: #fbf9ff;
    --tcg_cyan: #85ffc7;
    --tcg_blue: #4d83ff;
    --tcg_light_blue: #42cafd;
    --tcg_green: #6fd08c;
    --tcg_purple: #7b54d8;
    --tcg_darker_purple: #28273a;
    --tcg_pink: #ef27a6;
    --tcg_red: #db3069;
    --tcg_radish: #de4d86;
    --tcg_crimson: #ff220c;
}

html {
    scroll-behavior: smooth;
}

@layer base {
    /* https://css-tricks.com/custom-tailwind-css/ */
    html {
        -webkit-tap-highlight-color: transparent;
        @apply text-tcg_dark
    }

    body {
        @apply bg-tcg_dark
    }

    a {
        @apply transition ease-in-out text-xl font-bold text-tcg_light_blue hover:text-tcg_pink
    }

    #content a {
        @apply border-b-2 border-tcg_light_blue hover:border-tcg_pink
    }

    blockquote {
        @apply border-l-2 border-tcg_light_blue text-tcg_light_blue
    }

    p {
        @apply ml-2 my-2 text-xl
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mb-1 font-bold clip-text bg-tcg-gradient-secondary-inverted
    }

    h1 {
        @apply text-3xl
    }

    h1::before {
        content: "# ";
    }

    h2 {
        @apply text-2xl
    }

    h2::before {
        content: "## ";
    }

    h3 {
        @apply text-xl
    }

    h3::before {
        content: "### ";
    }

    h4 {
        @apply text-lg
    }

    h4::before {
        content: "#### ";
    }

    h5::before {
        content: "##### ";
    }

    h6::before {
        content: "###### ";
    }

    hr {
        @apply hidden md:block mx-36 my-8 text-tcg_pink border-dashed border
    }

    .hr-even {
        @apply mx-32
    }

    .hr-right {
        @apply ml-72 mr-0
    }
}

.max-w-content {
    max-width: 884px;
}

/* Text */

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Regular-102.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Bold-102.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-Italic-102.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url("../../fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf");
    font-weight: bold;
    font-style: italic;
}

/* Colours */
.bg-tcg-gradient {
    background: -moz-linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink), var(--tcg_light_blue), var(--tcg_blue));
    background: -webkit-linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink), var(--tcg_light_blue), var(--tcg_blue));
    background: linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink), var(--tcg_light_blue), var(--tcg_blue));
}

.bg-tcg-gradient-primary {
    background: -moz-linear-gradient(90deg,var(--tcg_pink), var(--tcg_purple));
    background: -webkit-linear-gradient(90deg,var(--tcg_pink), var(--tcg_purple));
    background: linear-gradient(90deg,var(--tcg_pink), var(--tcg_purple));
}

.bg-tcg-gradient-primary-inverted {
    background: -moz-linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink));
    background: -webkit-linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink));
    background: linear-gradient(90deg,var(--tcg_purple), var(--tcg_pink));
}

.bg-tcg-gradient-secondary {
    background: -moz-linear-gradient(90deg,var(--tcg_light_blue), var(--tcg_blue));
    background: -webkit-linear-gradient(90deg,var(--tcg_light_blue), var(--tcg_blue));
    background: linear-gradient(90deg,var(--tcg_light_blue), var(--tcg_blue));
}

.bg-tcg-gradient-secondary-inverted {
    background: -moz-linear-gradient(90deg,var(--tcg_blue), var(--tcg_light_blue));
    background: -webkit-linear-gradient(90deg,var(--tcg_blue), var(--tcg_light_blue));
    background: linear-gradient(90deg,var(--tcg_blue), var(--tcg_light_blue));
}

.clip-text {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
